.sg-header__container {
    padding: .5em;
}

.container__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.sg-header__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
}

.sg-header__content-item {
    width: 70%;
    max-width: 300px;
    margin-top: 1em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.sg-section__container {
    position: relative;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.sg-card {
    min-width: 250px;
    max-width: 600px;
    margin: 2em auto;
}

.sg-card--margin-none {
    margin: 0;
}

.sg-button--mw-small {
    min-width: 200px;
}

.sg-button--margin-small {
    margin: 5%;
}

.sg-button-mute {
    width: 20%;
    min-width: 100px;
    position: absolute;
    right: 5px;
    top: -5px;
}

.sg-button-add {
    width: 20%;
    min-width: 150px;
    position: absolute;
    top: -5px;
    left: 5px;
}

.timer {
    width: 50px;
}

.sg-icon--margin-small {
    margin: 5px;
}

.sg-button--centered {
    margin: 5% auto;
}

.input--margin-small {
    margin: 2%;
}

.sg-card-bs-none {
    border: 3px;
}

.modal {
    position: absolute;
    top: 0;
    left: 50%;
    width: 100%;
    max-width: 500px;
    margin: 5% auto;
    -webkit-transform: translate(-50%, -500px);
        -ms-transform: translate(-50%, -500px);
            transform: translate(-50%, -500px);
    opacity: 0;
    visibility: hidden;
    background: transparent;
    -webkit-transition: .6s;
    -o-transition: .6s;
    transition: .6s;
}

.open {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
}

.close {
    border: none;
    background: transparent;
    position: absolute;
    top: 4px;
}

.displayNone {
    display: none;
}

.errorMsg {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
}

.drum {
    width: 60px;
    margin: 0 auto;
    margin-bottom: 10px;
}